@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue: 225;
  --background: var(--hue) 85.7% 89%;
  --surface: var(--hue) 100% 98.5%;
  --text: var(--hue) 58% 8.5%;
  --shadow-color: var(--hue) 34% 56%;
  --shadow-elevation-low:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  background-color: hsl(var(--background));
  overflow-y: scroll;
  font-family: 'Catamaran', sans-serif;
}

main {
  display: grid;
  gap: 4rem;
  place-items: center;
  align-content: center;
  color: hsl(var(--text));
  padding: 2rem clamp(1rem, 1.5vw, 2rem);
}

.container {
  max-width: 900px;
  width: 100%;
}

h2 {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 600;
  text-align: center;
  line-height: 1.1;
  margin-bottom: 1rem;
}

a:is(:link, :visited){
  color: hsl(var(--text));
}
